html{
  background-color: rgb(63, 60, 87) ;
}
.container-fluid{
  background-color: rgb(63, 60, 87);

}
input[type="text"]{
  background: transparent;
  color: white;
}
input[type="text"]{
  background: transparent;
  color: white;
}